<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.enesakbulut.fitness">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WorkoutStart" />
        <activity android:name=".Start.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WorkoutFinish" />
        <activity android:name=".Start.WelcomeActivity" />
        <activity android:name=".WorkoutListTwo" />
        <activity
            android:name=".WorkoutPreStartTwo"
            android:parentActivityName=".WorkoutListTwo" />
        <activity
            android:name=".MusicActivityTwo"
            android:parentActivityName=".WorkoutPreStartTwo" />
        <activity android:name=".ProgressActivity"></activity>
    </application>

</manifest>